<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sesion1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Pruebaservletnometengaencuenta</display-name>
    <servlet-name>Pruebaservletnometengaencuenta</servlet-name>
    <servlet-class>servlet.Pruebaservletnometengaencuenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pruebaservletnometengaencuenta</servlet-name>
    <url-pattern>/Pruebaservletnometengaencuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolaMundoServlet1</display-name>
    <servlet-name>HolaMundoServlet1</servlet-name>
    <servlet-class>servlet.HolaMundoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolaMundoServlet1</servlet-name>
    <url-pattern>/HolaMundoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>servlet.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
</web-app>